
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(circle at 50% 30%, #1b3a7a, #050812 70%);

}


canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
